# Basic Python

## 1. Split this string

In [12]:
s = "Hi there Sam!"

In [13]:
s="Hi there Sam!"
split =s.split(',')
print(split)

['Hi there Sam!']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [14]:
planet = "Earth"
diameter = 12742

In [15]:
print('The diameter of {one} is {two} kilometers'.format (one=planet,two=diameter))

The diameter of Earth is 12742 kilometers

## 3. In this nest dictionary grab the word "hello"

In [16]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [17]:
print(d['k1'][3]["tricky"][3]['target'][3])

hello

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

# Numpy

In [18]:
import numpy as np

ModuleNotFoundError: No module named 'numpy'

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [19]:
import numpy as np
array =np.zeros(10)
print(array)

ModuleNotFoundError: No module named 'numpy'

In [ ]:
import numpy as np
array=np.ones(10)*5
print(array)

## 5. Create an array of all the even integers from 20 to 35

In [ ]:
import numpy as np
array_even=np.arange(20,35,2)
print(array_even)

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [ ]:
import numpy as np
matrix=np.arange(0,8).reshape(3,3)
print(matrix)

## 7. Concatenate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [ ]:
import numpy as np
a=np.array([1,2,3])
b=np.array([4,5,6])
array_append=numpy.concatenate([a,b])
print(array_append)

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [ ]:
import pandas as pd

In [ ]:
import pandas as pd
list=[[1,2,3,4,5,6,7,8,9]]
list_1=list[0][:3]
list_2=list[0][:3]
list_3=list[0][:3]
DataFrame=pd.DataFrame([list_1,list_2,list_3],colums=['l1','l2','l3'])

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [ ]:
import pandas as pd
from datetime import datetime
dates=pd.date_range(start="2023-01-01",end="2023-02-10").to_pydatetime().tolist()
print(dates)

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [ ]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [ ]:
import pandas as pd
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]
DataFrame=pd.DataFrame([lists1,lists2,lists3],columns=['l1','l2','l3'])
print(DataFrame)